* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #74b9ff, #6c5ce7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

h1 {
  color: #6c5ce7;
  margin-bottom: 20px;
  font-size: 24px;
}
.input-group{
  text-align: left;
}

input[type="email"],
input[type="password"],
button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: all 0.3s ease;
}



button {
  background-color: #6c5ce7;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

button:hover {
  background-color: #4834d4;
  transform: translateY(-2px);
}

#error {
  color: #e74c3c;
  font-weight: bold;
  margin-top: 10px;
}